# =============== #
# Unity generated #
# =============== #
Temp/
/Library/
build/
/[Uu]ser[Ss]ettings/
/[Aa]rtifacts/
/[Tt]ools/
*.collabignore

# ===================================== #
# Visual Studio / MonoDevelop generated/ VSCode #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vscode

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
DataFile.json
DataFile.json.meta
Builds/*
Bundles/*

Library/FailedAssetImports.txt
*/.vs/*
/Logs
.idea/
DataFile.dat
DataFile.dat.meta